#homeWrap {width:100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}

.products-section {display: flex; flex-direction: column; justify-content: center; align-items: center;}

/* 추천 섹션 전용 스타일 */
.recommend-section .recommend-title {
  font-weight: 500; 
  padding: 0px 50px 0px 20px; 
  display: flex; 
  flex-direction: row; 
  align-items: center;
}

.recommend-section .recommend-title p { 
  padding: 0 10px;
}