#homeWrap {width:100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}

.products-section {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.products-section h2 {padding: 100px 10px; display: flex; flex-direction: row; align-items: center;}
.products-section h2 p { padding: 0 10px;}